:root {
	--text-white: #fafafa;
	--green-color: rgba(206, 245, 75, 1);
	--blue-color: rgba(43, 76, 129, 1);
}

.app_layout {
	margin: auto;
	max-width: 1440px;
	min-width: 720px;
}

.header {
	position: relative;

	& .login_wrapper {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 99;
		margin: 24px;

		& .login {
			color: var(--text-white);
			margin: 8px;
			text-decoration: none;

			&:hover {
				opacity: 0.8;
			}
		}
	}

	& .jumbotron {
		position: relative;
		height: 720px;
		background-color: aliceblue;

		& .fes_logo {
			z-index: 2;
			position: absolute;
			width: 80px;
			height: 80px;
			/* border: solid 1px black; */

			& img {
				object-fit: cover;
				width: 80px;
				height: 80px;
			}
		}

		& .bg_img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		& .img_filter {
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.3);
		}

		& .jumbotron_content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 520px;

			& h1,
			& p {
				color: var(--text-white);
			}

			& h1 {
				font-size: 22px;
				letter-spacing: 1px;
			}

			& p {
				padding-top: 12px;
				font-weight: 600;
				font-size: 16px;
				letter-spacing: 1px;
			}
		}

		/* dummy img */
		& .logo_title {
			& img {
				width: 400px;
				height: 80px;
				object-fit: cover;
			}
		}

		& .app_launcher {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);

			& .launcher_logos {
				display: flex;
				align-items: center;
				justify-content: center;
				column-gap: 12px;

				& .os_logo {
					width: 140px;
				}
			}

			& .min_os_version {
				padding-top: 18px;
				padding-bottom: 26px;
				color: var(--text-white);
			}
		}
	}
}

.contents {
	position: relative;
	height: 720px;
	background: linear-gradient(180deg, rgba(43, 76, 129, 1) 0%, rgba(128, 164, 101, 1) 60%, rgba(206, 245, 75, 1) 100%);

	& h2 {
		color: var(--green-color);
		text-align: center;
		font-size: 64px;
		padding-top: 42px;
		padding-bottom: 18px;
	}

	& .sub_header {
		text-align: center;
		font-size: 21px;
		letter-spacing: 1px;
		color: var(--text-white);
	}

	& .can_do_list {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translate(0, -38%);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		& .item_wrapper {
			flex-basis: 33.33%;
			text-align: center;
			text-decoration: none;

			& .can_do_item {
				display: block;
				margin: auto;
				background-color: var(--blue-color);
				border-radius: 22%;
				width: 108px;
				height: 108px;
				box-shadow: 0px 0px var(--green-color);
				transition-duration: 150ms;
				&:hover {
					opacity: 0.9;
					box-shadow: -8px 8px var(--green-color);
				}

				& img {
					width: 100%;
					scale: 50%;
				}
			}

			& .item_info {
				padding: 32px 0;
				font-size: 20px;
				font-weight: 600;
				color: var(--text-white);
			}
		}
	}
}

.about {
	& h2 {
		color: var(--blue-color);
		text-align: center;
		font-size: 64px;
		padding-top: 42px;
		padding-bottom: 18px;
	}

	& .sub_header {
		text-align: center;
		font-size: 21px;
		letter-spacing: 1px;
	}

	& .concert_preview {
		display: block;
		margin: auto;
		width: 86%;
		padding: 42px 0;
	}

	& .about_paragraph {
		margin: auto;
		width: 86%;
		line-height: 26px;
		font-weight: 600;
		padding-bottom: 68px;
	}
}

.pickup {
	background: linear-gradient(180deg, rgba(43, 76, 129, 1) 0%, rgba(128, 164, 101, 1) 80%, rgba(206, 245, 75, 1) 100%);
	min-height: 1440px;

	& h2 {
		color: var(--green-color);
		text-align: center;
		font-size: 64px;
		padding-top: 42px;
		padding-bottom: 18px;
	}

	& .sub_header {
		text-align: center;
		font-size: 21px;
		letter-spacing: 1px;
		color: var(--text-white);
	}

	& .pickup_number {
		margin-top: 62px;
		margin-bottom: 42px;
		position: relative;

		& .pickup_num {
			display: block;
			text-align: center;
			font-size: 120px;
			font-weight: 600;
			opacity: 0.8;
			color: var(--green-color);
			text-align: center;
		}

		& .pickup_title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: var(--text-white);
			font-weight: 600;
			font-size: 24px;
			letter-spacing: 0.5px;
			text-shadow: 0.5px 0.5px 2px black;
		}
	}

	& .sp_preview {
		display: flex;
		justify-content: center;
		gap: 60px;

		& .sp_img {
			height: 440px;
		}
	}

	& .pickup_info {
		text-align: center;
		margin: auto;
		color: var(--text-white);
		padding: 36px 0;
		line-height: 30px;
	}

	& .pickup_item:last-child .pickup_info {
		color: var(--blue-color);
	}
}

footer {
	background-image: url(be7c132e4c8d5c897d7e3752975cda68.jpg);
	height: 500px;
	background-position: center;
	max-width: 1440px;

	& .footer_text {
		margin: auto;
		padding-top: 100px;
		font: normal normal 800 36px/70px Toppan Bunkyu Midashi Gothic;
		letter-spacing: 0px;
		opacity: 1;
		text-align: center;
		color: #284683;
	}

	& .download {
		display: flex;
		margin: auto;
		justify-content: center;
		align-items: center;
		margin-top: 70px;
		margin-bottom: 15px;
	}

	& img.usagi_icon {
		width: 80px;
		height: 80px;
		text-align: center;
	}

	& img.usagi_text {
		width: 400px;
		height: 80px;
		object-fit: cover;
	}

	& .download_icon {
		margin: auto;
		text-align: center;
	}
	& .download_icon img {
		width: 120px;
	}
}
