.centering_detail {
	min-height: 100dvh;
	position: relative;
}

.card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 0.75rem;
	background-color: white;
	width: 500px;
	height: 570px;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);

	& .favorite_icon {
		cursor: pointer;
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		transform: translate(50%, -50%);
		width: 16px;
		padding: 8px 12px;
		background-color: var(--green-color);
		border-radius: 50%;
		color: var(--text-white);
	}

	& .non_favorite_icon {
		cursor: pointer;
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		transform: translate(50%, -50%);
		width: 16px;
		padding: 8px 12px;
		background-color: var(--green-color);
		border-radius: 50%;
		color: var(--blue-color);
	}

	& .header {
		position: relative;
		background-clip: border-box;
		margin-top: 1.5rem;
		margin-left: 1rem;
		margin-right: 1rem;
		border-radius: 0.75rem;
		/* background-color: rgb(33 150 243); */
		/* box-shadow: 0 10px 15px -3px rgba(33, 150, 243, 0.4), 0 4px 6px -4px rgba(33, 150, 243, 0.4); */
		height: 14rem;

		& img {
			border-radius: 12px;
			width: 100%;
		}
	}

	& .description {
		padding-top: 12px;
		font-size: 18px;
		color: var(--blue-color);
	}

	& .info {
		border: none;
		padding: 1.5rem;
		text-align: center;
	}

	& .title {
		color: var(--blue-color);
		letter-spacing: 0;
		line-height: 1.375;
		font-weight: 600;
		font-size: 1.25rem;
		margin-bottom: 0.5rem;
	}

	& .footer {
		padding: 0.75rem;
		border: 1px solid rgb(236 239 241);
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--blue-color);
		border-bottom-left-radius: 0.75rem;
		border-bottom-right-radius: 0.75rem;
	}

	& .tag {
		font-weight: 300;
		font-size: 0.75rem;
		display: block;
		color: var(--green-color);
	}

	& .action {
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		border: none;
		outline: none;
		box-shadow: 0 4px 6px -1px rgba(33, 150, 243, 0.4), 0 2px 4px -2px rgba(33, 150, 243, 0.4);
		color: rgb(255 255 255);
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.75rem;
		padding: 0.75rem 1.5rem;
		background-color: rgb(33 150 243);
		border-radius: 0.5rem;
	}
}
